<html>
    <head>
        <title>Create a room</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/create_room.css">
    </head>
    <body>
        <%- include('nav', { activePage: 'rooms' }) %>

        <noscript>
            <p>Hi! you have javascript disabled. good. However, for chat functionality, you will need to enable it. You can read about the measures I take to protect you <a href="/security">here</a>.</p>
            <p>Here specifically, javascript is needed to generate your room key. Your room key never leaves your browser.</p>
        </noscript>
        <section id="main" >
            <label for="key">HERE IS YOUR AUTO GENERATED AES256 KEY. DO NOT LOSE THIS.</label>
            <textarea id="key" name="key"></textarea>
            <p>The key that was generated will be used for you and other people in your chatroom to be able to encrypt and decrypt messages without the server being able to read them.</p>
            <p>Since you are creating this room, it is essentially your responsibility to keep track of this key.</p>
            <p>When you arrive in your chat room, you will need to paste it into the textarea marked with room_key. Then, you can click "connect" to connect to the room.</p>
            <form action="/executeCreateRoom" method="POST">
                <h1>Create Room</h1>
                <input name="room_title" placeholder="room title">
                <label for="password">If you want to make a public room, leave password field blank.</label>
                <input name="password" placeholder="password goes here" type="password">
                <label>
                    <input type="checkbox" id="locked" name="locked">
                    private (don't know what that means? click <a href="/room_help">here</a>.)
                </label>
                <button type="submit">GO</button>
            </form>
        </section>

        <script src="scripts/generate_key_aes.js" integrity="sha384-EEtzTjKW08KI3+LvadNGEo77p4b6UbTBXGwXkEOeTpFbKGJWQZzWaeKx8M1U1Wqn" crossorigin="anonymous"></script>
    </body>
</html>