<html>
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="/styles/main.css">

    </head>
    <body>
        <%- include('nav', { activePage: 'main' }) %>

        <section id="main">
            <h1>Hello! Welcome to Mount Olympus.</h1>
            <br>
            <h2>I assume youre here from High Seas. Make yourself comforable! The project isn't even close to being done, but some parts work.</h2>
            <br><br>
            <h3>Make a post in the forum, telling other visitors about your own ship!</h3>
            <br>
            <h3>If you're brave, you can test the message signing and E2E encryption for yourself by visiting my profile and then following the link to direct message me (send your feedback!!) <a href="/profile?user_id=4">Here</a> is my profile.</h3>
            <br>
            <a href="/chathelp">direct messages help/about/instructions</a>
            <br>
            <a href="/room_help">Group chat help/about/instructions</a>
            <br>
            <a href="/security">About your security here!!</a>
            <br>

            <h4>Everything shown to you should work. If something breaks, email me at posydon9752@gmail.com</h4>>

            <h3>(debug) Session details:</h3>
            <h5><%= data.username %></h5>
            <h5>Admin: <%= data.admin %></h5>
            <h5>Last paid: <%= data.last_paid %></h5>

        </section>
    </body>
</html>