<html>
    <head>
        <title>Order complete.</title>
    </head>
<body>
    <h1>
        Your order has been placed successfully.
    </h1>
    <hr>
    <p>
        Navigate to <a href="/myOrders">my orders</a> to view details.
    </p>
    
</body>