<html>
    <head>
        <title>Order Error/Incomplete</title>
    </head>
    <body>
        <h1>There was an issue processing your error.</h1>
        <hr>
        <p>Specifically, the fact that the order UUID didn't exist on the server when we attempted to check it. However, (assuming you didn't navigate here manually), you were redirected here, which implies that your order was successful. It is possible that it was a massive coincidence and that your pending order got deleted by the system right before you landed. Check <a href="/myOrders">my orders</a> for your order.</p>
    </body>
</html>