<html>
    <head>
        <title>Your Vendor Menu</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <%- include('nav', { activePage: 'vendorship' }) %>



        <section id="main">
            <a href="/vendorSettings">Vendor Settings</a>
            <br>
            <a href="/createProduct">Create/Add Product</a>
            <br>
            <a href="/myProducts">Show my Products</a>
            <br>
            <a href="/vendorOrders">Pending Orders</a>
        </section>
    </body>
</html>