<html>
    <head>
        <title>Vendorship</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <%- include('nav', { activePage: 'vendorship' }) %>



        <section id="main">
            <h2>Vendorship</h2>
            <p>Being a vendor means you sell products on Mount Olympus. To be a vendor:</p>
            <br>
            <p>Register <a href="/vendorshipRegister">here</a>.</p>
            <p>Contact me <a href="/goToDirectMessages?user_id=1">here</a>, and we can talk about it.</p>
            <br>
            <p>You will be able to advertise products and connect with buyers. Eventually, an escrow service will be established.</p>
            <p>Disclaimer: I am not responsible for anything sold. Sell and buy at your own risk. I assume no liability. I am not responsible for any illegal substances bought or sold. Contact me for more information.</p>
        </section>
    </body>
</html>